@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* ----- Scrollbar global custom ----- */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccd6dd;
  border-radius: 8px;
  border: 2px solid #f7fafc; /* Para un borde sutil y limpio */
  min-height: 40px;
  transition: background 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background: #8cb1db;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccd6dd #f7fafc;
}
